<h1>
	Ваши пожелания.
</h1>
<form action="/visit" method="POST" role="form">

  <div class="form-group">
    


      <label>Почта.</label>
        <input name="email" type="email" class="form-control" placeholder="почта">
        </div>
        


      <label>Письмо.</label>
        <input name="litter" type="litter" class="form-control" placeholder="письмо">
        </div>
       
  
           <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>